coverage/
doc/
.yardoc/
.bundle/
log/*.log
pkg/
*.gemfile.lock
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/
spec/examples.txt
.env
